/**
* APCV 498 Senior Capstone - Fall 2022
* Virtual Tour: Historic Places & Structures
* Team: Vivid Solutions
* Members: Todd Bartfalvi, Christian Konazewski, Javier Mendez, Lety Sanchez, & Fan Shi
* Professor: Henry Werchan
**/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #ff5821;
  text-decoration: none;
}

a:hover {
  color: #ff7e54;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.text-right {
  text-align: right !important;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ff5821;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ff774a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #39312f;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  height: 40px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #ff5821;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #ff5821;
}

#topbar .cta a {
  color: #fff;
  background: #ff5821;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s;
}

#topbar .cta a:hover {
  background: #ff6b3b;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}

#header.header-fixed {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #635551;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

#main {
  z-index: 3;
}

@media (max-width: 768px) {

  #header .logo h1 {
    font-size: 18px;
  }

}

@media (max-width: 480px) {

  #header .logo h1 {
    font-size: 16px;
  }

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #635551;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ff5821;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #ff5821;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ff6b3b;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #ff5821;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #473d3a;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 37, 35, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #473d3a;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ff5821;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #ff5821;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 60vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0;
  margin-bottom: -120px;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .get-started-icon {
  font-size: 24px;
  background: #ff5821;
  padding: 14px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.1);
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  margin-left: -10px;
  padding: 8px 26px 8px 26px;
  color: #fff;
  background: #584b48;
  border-radius: 0 50px 50px 0;
  position: relative;
  z-index: 4;
}

#hero .btn-get-started:hover {
  background: #ff5821;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1024px),
(max-height: 768px) {
  #hero {
    margin-bottom: -150px;
    height: 80vh;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 80vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 640px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8f8f8;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #635551;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f4f2f2;
  margin-bottom: 40px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #635551;
  content: "/";
}

/*--------------------------------------------------------------
# Featured Neighborhood @ homepage
--------------------------------------------------------------*/
.featured {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 3;
}

.featured .content {
  padding: 30px;
  /*background: #ff5821;*/
  background-image: linear-gradient(to bottom, rgba(248,248,248,1.0), rgba(255,0,0,0.0));
  border-radius: 10px;
  /*color: #fff;*/
}

.featured .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.featured .content p {
  margin-bottom: 30px;
}

.featured .content .property-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.featured .content .more-btn {
  display: inline-block;
  background: #ff5821;
  /*background: rgba(255, 255, 255, 0.2);*/
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.featured .content .more-btn i {
  font-size: 14px;
}

.featured .content .more-btn:hover {
  /*color: #ff5821;*/
  /*background: #fff;*/
  color: #fff;
  background: #ff7e54;;
}

#featured .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff5821;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#featured .social-links a:hover {
  background: #ff7e54;
  color: #fff;
  text-decoration: none;
}

.featured .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.featured .icon-boxes .icon-box i {
  font-size: 40px;
  color: #ff5821;
  /*margin-bottom: 30px;*/
}

.featured .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.featured .icon-boxes .icon-box p {
  font-size: 15px;
  color: #716f6f;
}

.featured .icon-boxes .explore-btn {
  display: inline-block;
  background: #f8f8f8;
  border: 2px solid #313030;
  padding: 6px 30px 8px 30px;
  color: #313030;
  margin-bottom: 30px;
}

.featured .icon-boxes .explore-btn i {
  font-size: 14px;
}

/*--------------------------------------------------------------
# Near Sites
--------------------------------------------------------------*/
.nearsites .icon-box {
  padding: 50px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  height: 200px;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.nearsites .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #ff5821;
}

.nearsites .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.nearsites .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.nearsites .title a {
  color: #343a40;
}

.nearsites .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #ff5821;
}

.nearsites .icon-box:hover .icon i {
  color: #ff5821;
}

.nearsites .icon-box:hover .title a {
  color: #ff5821;
}

.nearsites .description {
  line-height: 24px;
  font-size: 14px;
}

.nearsites .read-more a {
  color: #ff5821;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}

.nearsites .read-more a:hover {
  color: #ff7e54;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Neighborhoods
--------------------------------------------------------------*/
.neighborhood {
  padding: 20px 0;
}

.neighborhood .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.neighborhood .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.neighborhood .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.neighborhood .entry .entry-title a {
  color: #473d3a;
  transition: 0.3s;
}

.neighborhood .entry .entry-title a:hover {
  color: #ff5821;
}

.neighborhood .entry .entry-meta {
  margin-bottom: 15px;
  color: #afa29e;
}

.neighborhood .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.neighborhood .entry .entry-meta ul li+li {
  padding-left: 20px;
}

.neighborhood .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.neighborhood .entry .entry-meta a {
  color: #656262;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.neighborhood .entry .entry-content p {
  line-height: 24px;
}

.neighborhood .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}

.neighborhood .entry .entry-content .read-more a {
  display: inline-block;
  background: #ff5821;
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}

.neighborhood .entry .entry-content .read-more a:hover {
  background: #ff6b3b;
}

.neighborhood .entry .entry-content h6 {
  color: #ff5821;
  font-weight: bold;
}

.neighborhood .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.neighborhood .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.neighborhood .entry .entry-content blockquote p {
  color: #313030;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.neighborhood .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #473d3a;
  margin-top: 20px;
  margin-bottom: 20px;
}

.neighborhood .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.neighborhood .entry .entry-footer i {
  color: #988782;
  display: inline;
}

.neighborhood .entry .entry-footer a {
  color: #554945;
  transition: 0.3s;
}

.neighborhood .entry .entry-footer a:hover {
  color: #ff5821;
}

.neighborhood .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.neighborhood .entry .entry-footer .cats li {
  display: inline-block;
}

.neighborhood .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.neighborhood .entry .entry-footer .tags li {
  display: inline-block;
}

.neighborhood .entry .entry-footer .tags li+li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}

.neighborhood .entry .entry-footer .share {
  font-size: 16px;
}

.neighborhood .entry .entry-footer .share i {
  padding-left: 5px;
}

.neighborhood .entry-single {
  margin-bottom: 30px;
}

.neighborhood .neighborhood-pagination {
  color: #7f6d68;
}

.neighborhood .neighborhood-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.neighborhood .neighborhood-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.neighborhood .neighborhood-pagination li a {
  color: #473d3a;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.neighborhood .neighborhood-pagination li.active,
.neighborhood .neighborhood-pagination li:hover {
  background: #ff5821;
}

.neighborhood .neighborhood-pagination li.active a,
.neighborhood .neighborhood-pagination li:hover a {
  color: #fff;
}

.neighborhood .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.neighborhood .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #473d3a;
  position: relative;
}

.neighborhood .sidebar .sidebar-item {
  margin-bottom: 30px;
}

.neighborhood .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}

.neighborhood .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}

.neighborhood .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: #ff5821;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}

.neighborhood .sidebar .search-form form button i {
  line-height: 0;
}

.neighborhood .sidebar .search-form form button:hover {
  background: #ff6735;
}

.neighborhood .sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.neighborhood .sidebar .categories ul li+li {
  padding-top: 10px;
}

.neighborhood .sidebar .categories ul a {
  color: #473d3a;
  transition: 0.3s;
}

.neighborhood .sidebar .categories ul a:hover {
  color: #ff5821;
}

.neighborhood .sidebar .categories ul a span {
  padding-left: 5px;
  color: #989595;
  font-size: 14px;
}

.neighborhood .sidebar .recent-posts .post-item+.post-item {
  margin-top: 15px;
}

.neighborhood .sidebar .recent-posts img {
  width: 80px;
  float: left;
}

.neighborhood .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}

.neighborhood .sidebar .recent-posts h4 a {
  color: #473d3a;
  transition: 0.3s;
}

.neighborhood .sidebar .recent-posts h4 a:hover {
  color: #ff5821;
}

.neighborhood .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #989595;
}

.neighborhood .sidebar .tags {
  margin-bottom: -10px;
}

.neighborhood .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.neighborhood .sidebar .tags ul li {
  display: inline-block;
}

.neighborhood .sidebar .tags ul a {
  color: #8d7973;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #f4f2f2;
  display: inline-block;
  transition: 0.3s;
}

.neighborhood .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid #ff5821;
  background: #ff5821;
}

.neighborhood .sidebar .tags ul a span {
  padding-left: 5px;
  color: #ddd7d6;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #313030;
  font-size: 14px;
  background: #fff;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff9f7;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #656262;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffa587;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #656262;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ff5821;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff5821;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #ed3b00;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #313030;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ff5821;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ff7e54;
  color: #fff;
  text-decoration: none;
}