<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="VirtualTourDB" connectionString="Server=.\SQLEXPRESS;Database=VirtualTour_Dev;Trusted_Connection=True;MultipleActiveResultSets=true;"/>-->
		<add name="VirtualTourDB" connectionString="Server=uarizona.us.to;Database=VirtualTour;User Id=tourSqlAdmin;Password=PA$$word79;MultipleActiveResultSets=true;"/>
	</connectionStrings>
</configuration>